// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "gameTimeRealFormat": "HH:mm:ss",
  "systemTimeRealFormat": "HH:mm:ss",
  "enabled": "true",
  "shape": "Square",
  "showDayNight": "true",
  "info1Label": "jm.theme.labelsource.blank",
  "info2Label": "jm.theme.labelsource.blank",
  "info3Label": "jm.theme.labelsource.blank",
  "info4Label": "jm.theme.labelsource.blank",
  "infoSlotAlpha": "0.7",
  "positionX": "0.8854167",
  "positionY": "0.0037037036",
  "sizePercent": "20",
  "frameAlpha": "25",
  "terrainAlpha": "60",
  "backgroundAlpha": "0.25",
  "orientation": "North",
  "compassFontScale": "1.0",
  "showCompass": "false",
  "showReticle": "false",
  "reticleOrientation": "Compass",
  "moveEffectIcons": "true",
  "effectTranslateX": "-74",
  "effectTranslateY": "1",
  "effectVertical": "false",
  "effectReversed": "false",
  "minimapKeyMovementSpeed": "0.001",
  "position": "Custom",
  "active": true,
  "playerDisplay": "LargeIcons",
  "selfDisplayScale": "1.0",
  "playerDisplayScale": "1.0",
  "showPlayerHeading": "false",
  "mobDisplay": "LargeIcons",
  "mobDisplayScale": "1.0",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "1.0",
  "showWaypointLabels": "true",
  "waypointLabelScale": "1.0",
  "locationFormatVerbose": "false",
  "locationFormat": "xyz",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "false",
  "showEntityNames": "true",
  "preferredMapType": "night",
  "zoomLevel": "0",
  "configVersion": "5.8.1beta3"
}